<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>
  <div class="field">
    <%= form.label :payment_platforms %>
    <%= form.select :name, payment_platforms_for_select, {} %>
  </div>
  <%# <div class="field">
    <%= form.label :payment_methods %>
    <%# <%= form.select :name, payment_methods_for_select, {} %>
  <%# </div> %> 

  <%# <div id="payment_platforms" class="form-group">
    <div class="links form-inline">
      <%= link_to_add_association 'add payment platform', form, :payment_platforms %>
    <%# </div>
  </div> %>
  
  <%# <div id="payment_methods" class="form-group"> %>
    <%# <div class="links form-inline"> %>
      <%# <%# <%= link_to_add_association 'add payment method', form, :payment_methods %> 
    <%# </div> %>
  <%# </div> %> 



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
